<!DOCTYPE html>
<html>

<head>
    <title>Your Page Title</title>
</head>

<body>
    <div id="a">123</div>

    <form id="form">
        <!-- The "action" attribute specifies where to send the form data -->
        <!-- The "method" attribute specifies the HTTP method (post or get) -->

        <label for="a">Enter a:</label>
        <input type="number"  name="email" value=1>
        <br />
        <label for="b">Enter b:</label>
        <input type="number"  name="password" value=2>
        <br />
        <!-- The "id" attribute provides a unique identifier for the input -->
        <!-- The "name" attribute is used when the form is submitted to identify the input data -->

        <button type="submit" value="Submit">submit</button>
            <!-- The submit button allows users to submit the form -->
    </form>

    <form id="calculatorForm">
        <label for="year"></label>
        <input
          type="number"
          name="year"
          min="1804"
          max="2100"
          style="width: 100px"
          value="2002"
          required
        />
        年
        <label for="month"></label>
        <input
          type="number"
          name="month"
          min="1"
          max="12"
          style="width: 100px"
          value="8"
          required
        />
        月
        <label for="day"></label>
        <input
          type="number"
          name="day"
          min="1"
          max="30"
          style="width: 100px"
          value="16"
          required
        />
        日
        <select class="form-select" name="hour" required>
          <option value="1">子</option>
          <option value="2" selected>丑</option>
          <option value="3">寅</option>
          <option value="4">卯</option>
          <option value="5">辰</option>
          <option value="6">巳</option>
          <option value="7">午</option>
          <option value="8">未</option>
          <option value="9">申</option>
          <option value="10">酉</option>
          <option value="11">戌</option>
          <option value="0">亥</option>
        </select>
        時
        <button type="submit" value="Submit">submit</button>

      </form>
    <div id="ans">answer</div>
    <script type="module" src="{{url_for('static', path='temp.js')}}">
    </script>

</body>

</html>